@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Iníciamos nosso projeto da padaria em 2018 e inauguramos em 2021 em meios atantas dificuldade, porém com muita alegria em vender boa qualidade
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores nesciunt qui harum, architecto aperiam neque officiis quas.
    Itaque consequatur labore temporibus ipsum facilis aliquam unde ad, asperiores perferendis voluptatem?
</p>