@page
@model IndexModel
@{
    ViewData["Title"] = "Padaria do Zé";
}



<div class="text-center">
    <div class="row">
        <div class="col-6" style="padding:20px">
            <img src="./download.jpg" width="500" height="300" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores nesciunt qui harum, architecto aperiam neque officiis quas. 
                Itaque consequatur labore temporibus ipsum facilis aliquam unde ad, asperiores perferendis voluptatem?
            </p>
        </div>

        <div class="col-4" style="">
            One of three columns
        </div>
        <div class="col-4" style="">
            One of three columns
        </div>
    </div>
</div>
