@page
@model PrivacyModel
@{
    ViewData["Title"] = "Localização";
}
<style>
    iframe{
        height:450px;
        width:100%
    }
</style>
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>
        <hr />
        <br />
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126430.42338006443!2d-35.11168067210055!3d-8.004018246878415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab054a7d941903%3A0xf46329131b094dea!2zU8OjbyBMb3VyZW7Dp28gZGEgTWF0YSwgUEU!5e0!3m2!1spt-BR!2sbr!4v1631485014980!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
 
</div>
